/* Project.css */
 
.project-container {
    margin: 90px auto; /* Center the form horizontally */
    width: 50%;
    display: flex; /* Use flexbox to align fields */
    justify-content: space-between; /* Space between fields */
}
 
.project-field,
.project-field1 {
    width: 48%; /* Adjust width to fit side by side */
}
 
.project-field1 {
    margin-left: 10px; /* Add margin to separate fields */
}
 
.project-field label,
.project-field1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
 
.project-field input[type="text"],
.project-field select,
.project-field1 input[type="text"],
.project-field1 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
 
.navigation {
    margin-top: 10px;
    text-align: right; /* Align button to the right */
}
 
.project-table {
    width: calc(99% - 250px); /* Adjust width to fill remaining space after the margin */
    margin-left: 250px; /* Set the margin to align with project-field */
    margin-top: 20px; /* Adjust margin-top as needed */
}
 
.navigation button {
    padding: 15px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}