body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
 
/* Container */
.container1 {
    width: 30%;
    margin: 119px auto;
    padding: 9px 27px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 

 
/* Form */
form {
    width: 100%;
}
 
/* Form Group */
.form-group {
    margin-bottom: 20px;
}
 
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
 
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
 
.form-group input[readonly],
.form-group select[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
 
/* Button Group */
.button-group {
    text-align: center;
}
 
/* Submit Button */
.submit-button, .back-btn {
    background-color: mediumseagreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
   
}
 
.submit-button:hover, .back-btn:hover {
    background-color: darkgreen;
}
 
.back-btn {
    background-color: darkslategrey;
}